/*Common Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #141922;
}

/*Container, Row and Col*/
.container-1200 {
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

/*General Settings*/
.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.text-align {
    text-align: center;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.padding-5 {
    padding:5px;
}

.padding-10 {
    padding:10px;
}

.padding-25 {
    padding:25px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.inline {
    display: inline-block;
}

.img {
    max-width: 100%;
}

.text-align-right {
    text-align: right;
}

.align-right {
    align-self: flex-end;
}

.align-left {
    align-self: flex-start;
}

.color-gray {
    color: gray;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-right-20 {
    padding-right: 20px;
}

.margin-auto {
    margin: auto;
}

.margin-left-auto {
    margin-left: auto;
}

/*Header*/
.main-header {
    background-color: #080B12;
    padding: 25px;

}

.logo {
    width: 175px;
    padding-bottom: 20px;
}

.upgrade-button {
    display: block;
    padding: 15px;
    text-align: center;
    width: 250px;
    border: 2px solid white;
    border-radius:50px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/*Main*/
.main-container {
    height: 100vh;
}

/*Sidebar*/
.sidebar {
    display: block;
    overflow: hidden;
    padding: 25px;
    background-color: rgb(0, 0, 0);
    width: 275px;
}

.active-vertical {
    background-color: #ADFF2F;
    height: 30px;
    width: 5px;
    position: relative;
    left: -20px;
}

.home-menu-item {
    margin-left: -5px;
}

.active-orizzontal {
    background-color: #ADFF2F;
    height: 5px;
    width: 50px;
    position: relative;
    top: 30px;
    left: 30px;

}

.sidebar-elements {
    height: 100%;
}

.menu-img {
    width: 25px;
}

.menu-title {
    color: grey;
    padding-left: 5px;
    font-weight: 600;
    text-decoration: none;
}

.playlist-title {
    color: white;
    font-size: 10px;
}

.plus-button {
    background-color: gray;
    padding: 10px;
    font-size: 25px;
}

.add-playlist-title {
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.playlist-name {
    font-size: 15px;
}

.app {
    padding-bottom: 15px;
}

.user-info {
    padding-top: 15px;
    border-top: 1px solid grey;
}

.avatar {
    background-color: grey;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.profile {
    width: 55%;
}

.user-info > h4 {
    padding-left: 10px;
}

.install-app > h4 {
    padding-left: 10px;
}

/*Footer*/
.footer-container {
    background-color: #282828;
    padding: 25px;
    height: 105px;
}

.song-thumb {
    width: 50px;
}

.song-name {
    font-size: 13px;
}

.song-info {
    padding-left: 10px;
}

.song-icons {
    padding-left: 35px;
}

.player-icons {
    font-size: 15px;
}

.player-icon {
    font-size: 25px;
}

.time-rectangle {
    height: 5px;
    background-color: gray;
    width: 400px;

}

.time-process {
    background-color: white;
    width: 50px;
    height: 5px;
}

.volume-rectangle {
    display: block;
    background-color: gray;
    width: 120px;
    height: 5px;
}

.volume-rectangle-process {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 5px;
}

.volume-icons-container {
    margin-left: auto;
}

.circle {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    left: 45px;
    top: -2.5px;
}

.time-circle {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    left: 45px;
    top: -7px;
}

/*Songs*/
.songs {
    width: calc(100% - 275px);
    padding-bottom: 75px;
    overflow: auto;
}

.heavy, .stranger, .a-quiet-place, .split, .a-cure, .sinister {
    padding: 10px;
}

.section-title {
    color: white;
    font-size: 30px;
}

.song-album {
    max-width: 100%;
}

.central-content {
    height: calc(100vh - 105px);
}

.artist {
    object-fit: fill;
    border-radius: 300px;
}

.artist-einaudi {
    border-radius: 300px;
}

.song-title {
    font-size: 18px;
}

/*Effects*/
.volume-rectangle-process:hover > .circle {
    display: block;
    cursor: pointer;
}

.time-rectangle:hover > .time-circle {
    display: block;
    cursor: pointer;
}

.icons:hover {
    cursor: pointer;
    color: white;
}

a:hover {
    color: white;
}

.add-playlist > h4:hover {
    color: white;
}

.upgrade-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

h4:hover {
    color: white;
    cursor: pointer;
}

.home > span:hover {
    color: white;
    cursor: pointer;
}

.plus-button:hover {
    background-color: white;
    cursor: pointer;
}

img:hover {
    cursor: pointer;
}

/*Responsive Tablet*/
@media screen and (max-width:768px) {

    .sidebar {
        display: block;
        overflow: hidden;
        padding: 25px;
        background-color: rgb(0, 0, 0);
        width: 200px;
    }

    .container {
        max-width: 768px;
    }

    .col-2 {
        width: calc(100% / 12 * 3);
    }

    img {
        max-width: 100%;
    }

    .active-orizzontal {
        left: 15px;
    }

    .songs {
        width: calc(100% - 200px);
        padding-bottom: 0;
        overflow: auto;
    }

    /*Header*/

    .main-header {
        width: 100%;
    }

    .upgrade-button {
        display: block;
        padding: 15px;
        text-align: center;
        width: 200px;
        border: 2px solid white;
        border-radius:50px;
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 13px;
    }

    .main-menu-item {
        padding:15px;
    }

    /*Sidebar*/

    .logo {
        width: 125px;
    }

    .menu-img {
        width: 20px;
    }

    .menu-title {
        font-size: 12px;
    }

    .playlist-title {
        font-size: 10px;
    }

    .plus-button {
        width: 35px;
        height: 35px;
    }

    .fa-plus {
        font-size: 15px;
    }

    .add-playlist-title {
        font-size: 12px;
    }

    .playlist-name {
        font-size: 13px;
    }
        
    .install-app > h4 {
        font-size: 12px;
    }


    .user-info > h4 {
        font-size: 13px;
    }

    /*Footer*/

    .footer-container {
        background-color: #282828;
        padding: 25px;
        height: 105px;
        width: 100%;
    } 

    /*Songs album*/

    .section-title {
        font-size: 21px;
    }

    .song-album {
        object-fit: contain;
    }

    .song-title {
        font-size: 13px;
    }
    
    .heavy, .stranger, .a-quiet-place, .split, .a-cure, .sinister {
        padding: 10px;
    }


}
