/*Common Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #141922;
}

/*Container, Row and Col*/
.container-1200 {
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

/*General Settings*/
.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.text-align {
    text-align: center;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.padding-5 {
    padding:5px;
}

.padding-10 {
    padding:10px;
}

.padding-25 {
    padding:25px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.inline {
    display: inline-block;
}

.img {
    max-width: 100%;
}

.text-align-right {
    text-align: right;
}

.align-right {
    align-self: flex-end;
}

.color-gray {
    color: gray;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}

.margin-auto {
    margin: auto;
}

.margin-left-auto {
    margin-left: auto;
}

/*Header*/
.main-header {
    background-color: #080B12;
    padding: 25px;

}

.logo {
    width: 175px;
    padding-bottom: 20px;
}

.upgrade-button {
    display: block;
    padding: 15px;
    text-align: center;
    width: 250px;
    border: 2px solid white;
    border-radius:50px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/*Main*/

/*Sidebar*/
.sidebar {
    overflow: hidden;
    padding: 25px;
    background-color: rgb(0, 0, 0);
    width: 275px;
    height: calc(100vh - 103.133px);
    position: relative;
    z-index: 1;
}

.active-vertical {
    background-color: #ADFF2F;
    height: 30px;
    width: 5px;
    position: relative;
    left: -25px;
}

.active-orizzontal {
    background-color: #ADFF2F;
    height: 5px;
    width: 50px;
    position: relative;
    top: 30px;
    left: 30px;

}

.sidebar-elements {
    height: 100%;
}

.menu-img {
    width: 25px;
}

.menu-title {
    color: grey;
    padding-left: 5px;
    font-weight: 600;
    text-decoration: none;
}

.playlist-title {
    color: white;
    font-size: 10px;
}

.plus-button {
    background-color: gray;
    padding: 10px;
    font-size: 25px;
}

.add-playlist-title {
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.playlist-name {
    font-size: 15px;
}

.app {
    padding-bottom: 15px;
}

.user-info {
    padding-top: 15px;
    border-top: 1px solid grey;
}

.avatar {
    background-color: grey;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.profile {
    width: 55%;
}

.user-info > h4 {
    padding-left: 10px;
}

.install-app > h4 {
    padding-left: 10px;
}

/*Footer*/
.footer-container {
    background-color: #282828;
    padding: 25px;
}

.song-thumb {
    width: 50px;
}

.song-name {
    font-size: 13px;
}

.song-info {
    padding-left: 10px;
}

.song-icons {
    padding-left: 35px;
}

.player-icons {
    font-size: 15px;
}

.player-icon {
    font-size: 25px;
}

.time-rectangle {
    height: 5px;
    background-color: gray;
    width: 400px;

}

.volume-rectangle {
    display: block;
    background-color: gray;
    width: 120px;
    height: 5px;
}

.volume-rectangle-process {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 55px;
    height: 5px;
    position: absolute;
    right: 100px;
}

.volume-icons-container {
    margin-left: auto;
}

.circle {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    right: 75px;
}

/*Songs*/
.songs {
    width: calc(100% - 275px);

}

.section-title {
    color: white;
    font-size: 30px;
}

.song-album {
    max-width: 100%;
}

.song-title {
    font-size: 18px;
}

/*Effects*/
.circle:hover {
    display: block;
}